$dark-gray: #434343;
$gray: #63636e;
$white: #f1f1f1;
$black: #0a0a0a;
$button-text-color: #f3f3f3;
$safe-box-background-color: #7d7d7f;
$display-text-color: #434343;
$display-idle-background: #47b2b2;
$display-active-background: #7fffff;

$size-5: 5px;
$size-10: 10px;
$size-180: 180px;
$size-30: 30px;
$size-50: 55px;
$size-60: 60px;
$size-100: 100px;
